<h1>All Posts</h1>

<div><%= link_to "Create a Post", new_post_path %></div><br>
<div>
  <%= text_field_tag :search, params[:search], placeholder: "Search by Title", id: "title-filter" %>
</div><br>
<div>
  order by: <button type="button" id="draft-posts">draft</button>
</div>

<div class="published-posts">
  <% @posts.each do |post| %>
    <% if post.status == "publish" %>
    <div class="comment">
      <h3 class="comment-title"><b>Title: </b><%= link_to post.title, post_path(post.id) %></h3>
      <h4>Author: <%= post.author %></h4>
      <h5>status: published</h5>
      <%= link_to 'Edit', edit_post_path(post) %>
    </div>
    <% end %>
  <% end %>
</div>

<div class="draft-posts" style="display: none">
  <% @posts.each do |post| %>
    <% if post.status == "draft" %>
    <div class="comment">
      <h3 class="comment-title"><b>Title: </b><%= link_to post.title, post_path(post.id) %></h3>
      <h4>Author: <%= post.author %></h4>
      <h5>status: <%= post.status %></h5>
      <%= link_to 'Edit', edit_post_path(post) %>
    </div>
    <% end %>
  <% end %>
</div>
