<h1>All Posts</h1>
<div><%= link_to "Create a Post", new_post_path %></div>
<div><%= link_to "View Tags", tags_path %></div><br>
<hr>
<h2>Filtering and Ordering</h2>
<div>
  <%= text_field_tag :search, params[:search], placeholder: "Search by Title", id: "title-filter" %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by Author", id: "author-filter" %>
</div><br>
<div>
  order by: <button type="button" id="draft-posts">draft</button>
            <button type="button" id="num-of-comments"># of comments</button>
</div><br>
<div>
  filter by tag:
  <div><br>
    <button type="button" class="tag-filter">all</button>
    <% @tags.each do |tag| %>
      <button type="button" class="tag-filter"><%= tag.name %></button>
    <% end %>
  </div>
</div>
<hr>

<div class="published-posts">
  <% @posts.each do |post| %>
    <% if post.status == "publish" %>
    <div class="post" data-comments="<%= post.comments.count %>">
      <h3 class="post-title"><b>Title: </b><%= link_to post.title, post_path(post.id) %></h3>
      <h4 class="post-author">Author: <%= post.author %></h4>
      <div class="post-tags">
        <% if post.tags.any? %>
          <h5>Tags: <% post.tags.each do |tag| %>
            <span style="border:outset"><%= tag.name %></span>
          <% end %>
          </h5>
        <% end %>
      </div>
      <h5>status: published</h5>
      <%= link_to 'Edit', edit_post_path(post) %>
    </div>
    <% end %>
  <% end %>
</div>

<div class="draft-posts" style="display: none">
  <% @posts.each do |post| %>
    <% if post.status == "draft" %>
    <div class="post" data-comments="<%= post.comments.count %>">
      <h3 class="post-title"><b>Title: </b><%= link_to post.title, post_path(post.id) %></h3>
      <h4 class="post-author">Author: <%= post.author %></h4>
      <div class="post-tags">
        <% if post.tags.any? %>
          <h5>Tags: <% post.tags.each do |tag| %>
            <span style="border:outset"><%= tag.name %></span>
          <% end %>
          </h5>
        <% end %>
      </div>
      <h5>status: <%= post.status %></h5>
      <%= link_to 'Edit', edit_post_path(post) %>
    </div>
    <% end %>
  <% end %>
</div>
